/** {
  border: solid 1px;
}*/

html {
  height: 100%;
}

body {
  background-image: url(file:///C:/Users/walki_000/Downloads/20170529_085343.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100%;
  position: relative;
}

header h1 {
  display: inline;
  color: blue;
}

header h1 a {
  color: blue;
}

nav ul {
  display: inline;
  padding: 10px;
  margin: 10px;
}

nav ul li {
  background: black;
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

nav ul li a {
  color: white;
}

h1 {
  color: black;
}

header {
  background: rgb(75, 6, 21);
  position: relative;
  height: auto;
}

article {
  background-color: rgba(22, 84, 38, .7);
  border-radius: 5px;
  display: inline;
  position: relative;
  float: left;
  width: 90%;
  height: 80%;
  margin: 4%;
}

span {
  color: red;
}

#langlist ul li {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

#langlist ul {
  display: inline;
}

.content {
  float: left;
  position: static;
  height: auto;
  background-color: rgba(0, 5, 3, .8);
  color: white;
  padding: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  width: 88%;
  border-radius: 10px;
  border-style: groove;
}

.content h1 {
  color: white;
}

footer {
  background: rgb(75, 6, 21);
  padding-top: 0;
  margin: 0;
  clear: both;
  postion: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
